/* Imports */
.container {
  padding: 25px 100px;
  margin: 0px;
  width: 100%; }

.book-display {
  width: 350px;
  height: 350px;
  margin: 20px 5px;
  text-align: center;
  transition: size 1s;
  background: white;
  transition: box-shadow .5s;
  padding-top: 30px; }
  .book-display h3 {
    font-size: 40px; }
  .book-display img {
    width: 320px;
    margin: 0px; }

#mobile {
  width: 150px; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

/* Header */
header {
  text-align: center;
  overflow: hidden;
  z-index: -1;
  padding-top: 60px;
  padding-bottom: 100px; }
  header img {
    width: 100%; }

#criagslist-display {
  position: relative;
  top: -150px; }

.logo {
  margin: 0 auto;
  margin-bottom: 20px; }
  .logo img {
    height: 420px; }

nav {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  margin-top: 11px;
  width: 100%; }
  nav ul {
    margin: 0 auto;
    padding: 0; }
    nav ul li {
      display: inline-block;
      padding: 0 50px; }
      nav ul li a {
        color: grey;
        text-decoration: none; }
      nav ul li a:hover {
        border-bottom: 3px solid #4C5365;
        padding-bottom: 5px;
        text-decoration: none;
        color: grey; }

/* Main */
main {
  clear: both;
  width: 100%;
  background-color: white;
  margin-top: 0;
  padding-bottom: 60px; }

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px; }
  .flex-box a {
    padding: 0px;
    text-decoration: none; }

.design-display {
  width: 200px;
  height: 70px;
  text-align: center;
  margin: 10px;
  padding-top: 35px;
  text-transform: uppercase;
  color: white;
  transition: .5s; }
  .design-display h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 0; }

.web {
  color: #333;
  border-bottom: 3px solid #d67f48; }

.mobile {
  color: #333;
  border-bottom: 3px solid #45936c; }

.paper {
  color: #333;
  border-bottom: 3px solid #dbb46d; }

.wood {
  color: #333;
  border-bottom: 3px solid  #444B5D; }

.design-display:hover {
  color: #dbb46d;
  border-bottom: 3px solid white; }

.portfolio-container .angle-parent {
  overflow: hidden;
  position: relative;
  top: 3px; }
  .portfolio-container .angle-parent .angle {
    height: 200px;
    background-color: #eee;
    transform: rotate(-4deg);
    position: relative;
    top: 100px;
    width: 120%; }

.portfolio {
  justify-content: center;
  background-color: #EFEDE7;
  text-align: center; }
  .portfolio a {
    text-decoration: none; }
  .portfolio .mobile-display {
    background-color: #57BB89;
    padding-top: 20px; }
    .portfolio .mobile-display img {
      width: 80%;
      max-width: 600px;
      position: relative;
      top: 22px;
      width: 100%; }
    .portfolio .mobile-display h1 {
      color: white;
      font-weight: 300;
      width: 100%;
      flex-wrap: wrap; }
    .portfolio .mobile-display h2 {
      color: white;
      font-weight: 300; }
  .portfolio .web-display {
    background-color: #FED586;
    padding-top: 20px;
    display: flex;
    width: 100%; }
    .portfolio .web-display img {
      width: 95%;
      max-width: 800px;
      position: relative;
      top: 18px; }
  .portfolio #Good-Reads {
    background-color: #4C5365; }
  .portfolio #Team-captain {
    background-color: #F39354;
    padding-top: 80px; }
  .portfolio .flex-box {
    display: flex;
    flex-wrap: wrap; }
  .portfolio .portfolio-header {
    background-color: #57BB89;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px; }
  .portfolio h1 {
    width: 100%;
    display: block;
    font-size: 35px;
    font-weight: 300; }
  .portfolio .bucket {
    margin: 0 auto;
    position: relative; }
    .portfolio .bucket #proposal {
      top: 0px; }
  .portfolio .description {
    min-width: 300px;
    width: 80%;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 40px;
    text-align: left; }
    .portfolio .description p {
      margin-top: 20px;
      font-size: 20px; }
    .portfolio .description .design-display {
      margin: 0 auto; }

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center; }

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.parallax__layer--base {
  transform: translateZ(0);
  position: relative; }

.parallax__layer--back {
  transform: translateZ(-1px); }

.parallax__layer--back {
  transform: translateZ(-1px) scale(2); }

/* Break points at bottom so that they override code above */

/*# sourceMappingURL=main.css.map */
