/* Imports */

@import "partials/colors";
@import "partials/books";
@import "partials/breakpoints";
@import "bourbon/bourbon";

body{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}


/* Header */
header {
    text-align: center;
    overflow: hidden;
    z-index: -1;
    padding-top: 20px;
    img {
      width: 100%;
    }
}
#criagslist-display{
  position: relative;
  top: -150px;
}

.header-container {
    .logo {
        margin: 0 auto;
        margin-bottom: 20px;
        img {
            height: 420px;
        }
    }
    nav {
        display: inline-block;
        text-align: center;
        font-size: 15px;
        margin-top: 11px;
        width: 100%;
        ul {
            margin: 0 auto;
            padding: 0;
            li {
                display: inline-block;
                padding: 0 50px;

                a {
                    color: grey;
                    text-decoration: none;
                }

                a:hover {
                    border-bottom: 3px solid $lightgreen;
                    padding-bottom: 5px;
                }
            }
        }
    }


}

/* Main */
main {
    clear: both;
    width: 100%;
    background-color: white;
    margin-top: 0;
    padding-bottom: 60px;

}


.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;


    a {
      padding: 0px;
      text-decoration: none;
    }

  }

    .design-display {
      width: 200px;
      height:100px;
      text-align: center;
      margin: 10px;
      border-radius: 3px;
      padding-top: 35px;
      text-transform: uppercase;
      color: white;



      h3{
        font-size: 20px;
            font-weight: 300;
            margin: 0;

      }
    }
.web {
  background-color: #F39354;
   border-bottom: 3px solid #d67f48;

}
.mobile {
 background-color: #57BB89;
 border-bottom: 3px solid #45936c;
}
.paper {
  background-color: #FED587;
  border-bottom: 3px solid #dbb46d;
}
.wood {
  background-color: #4C5365;
border-bottom: 3px solid  #444B5D;
}


.design-display:hover {

border-bottom: none;
position: relative;
top: 2px;
height: 98px;

}
.portfolio-container {
  margin-top: 200px;
.angle-parent{
  overflow: hidden;
  position: relative;
  top: 3px;
  .angle {
    height: 200px;
    background-color: #eee;
    transform: rotate(-4deg);
    position: relative;
    top: 100px;

    width: 120%;
  }
}
}

.portfolio {
  justify-content: center;
  background-color: #eee;
  text-align: center;
  .portfolio-header {
      background-color: #57BB89;
      color: white;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  h1{
    width: 100%;
    display: block;

  }
  .bucket {
    min-width: 400px;
    max-width: 70%;
    margin: 0 auto;
    position: relative;

    img {
      width: 100%;
    }
    #proposal {
      top: 0px;

    }
  }

  .description {
    min-width: 300px;
    max-width: 70%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom:  1px solid #999;
    p {
      font-size: 18px;
    }
  }
}



















.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
  position: relative;
  top: 650px;


}

.parallax__layer--back {
  transform: translateZ(-1px);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}


/* Break points at bottom so that they override code above */

@import "partials/breakpoints";
