/* Imports */

@import "partials/colors";
@import "partials/books";
@import "partials/breakpoints";
@import "bourbon/bourbon";

body{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/* Header */
header {
    text-align: center;
    overflow: hidden;

    z-index: -1;

}

.header-container {
    padding: 10px 20px;
    background: $headercolor;
    width: 100%;
    top: 0;
    margin-bottom: 0;

    z-index: 5;

    .logo {
        margin: 0 auto;
        margin-bottom: 20px;
        img {
            height: 420px;
        }
    }
    nav {
        display: inline-block;
        text-align: center;
        font-size: 15px;
        margin-top: 11px;
        width: 100%;
        ul {
            margin: 0 auto;
            padding: 0;
            li {
                display: inline-block;
                padding: 0 50px;

                a {
                    color: grey;
                    text-decoration: none;
                }

                a:hover {
                    border-bottom: 3px solid $lightgreen;
                    padding-bottom: 5px;
                }
            }
        }
    }


}

/* Main */
main {
    clear: both;
    width: 100%;
    background-color: white;
    margin-top: 0;
    padding-bottom: 60px;

}


.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;


    a {
      padding: 0px;
      text-decoration: none;
    }

  }

    .design-display {
      width: 200px;
      height:30px;
      text-align: center;
      margin: 10px;
      border-radius: 3px;
      padding-top: 3px;
      text-transform: uppercase;

      color: white;



      h3{
        font-size: 20px;
            font-weight: 300;
            margin: 0;

      }
    }
.web {
  background-color: #F39354;
   border-bottom: 3px solid #d67f48;

}
.mobile {
 background-color: #57BB89;
 border-bottom: 3px solid #45936c;
}
.paper {
  background-color: #FED587;
  border-bottom: 3px solid #dbb46d;
}
.wood {
  background-color: #4C5365;
border-bottom: 3px solid  #444B5D;
}


.design-display:hover {

border-bottom: none;
position: relative;
top: 2px;
height: 27px;

}
.portfolio-container {
.angle-parent{
  overflow: hidden;
  .angle {
    height: 200px;
    background-color: #eee;
    transform: rotate(-6deg);
    position: relative;
    top: 100px;
    width: 110%;
  }
}
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eee;
  padding: 100px;
  h1{
    width: 100%;
  }
  .project-window {
    height: 400px;
    width: 400px;
    background-color: #333;
    margin: 5px;
    overflow: hidden;
    border-radius: 5px;
    img{
      height: 405px;
    }
  }
}




.flex-boxes {
  max-width: 850px;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  $flex-box-border-color: $light-gray;
  $flex-box-border: 1px solid $flex-box-border-color;
  $flex-box-background: lighten($light-gray, 10%);
  $flex-box-gutter: 0.4em;
  $flex-box-width: 18em;
  $flex-box-color: transparentize($base-font-color, 0.3);
  $flex-box-top-colors:
    tomato,
    #72BFBF,
    #92B1E3,
    #E3D743,
    #CCC,
    #F6C05C;
    margin: 0 auto;

  @include clearfix;
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  .flex-box {
    align-self: stretch;
    background: $flex-box-background;
    border-radius: $base-border-radius;
    box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10%);
    display: block;
    flex: 2 2 15em;
    margin: $flex-box-gutter;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;


    @for $i from 1 to 7 {
// assign colors from $flex-box-top-colors list
      &:nth-child(#{$i}) {
        $color-from-list: nth($flex-box-top-colors, $i);
        border-top: 6px solid $color-from-list;

        &:focus,
        &:hover {
          background-color: transparentize($color-from-list, 0.9);
        }
      }
    }

    img {
      display: block;
      height: 3em;
      margin: 0 auto 1em;
      opacity: 0.4;
    }

    .flex-title {
      color: $flex-box-color;
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }

    p {
      color: transparentize($flex-box-color, 0.1);
      line-height: 1.5em;
      margin: auto;
    }
  }

  .flex-box-big {
    flex: 1 1 40em;
  }
}








.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
  position: relative;
  top: 650px;


}

.parallax__layer--back {
  transform: translateZ(-1px);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}


/* Break points at bottom so that they override code above */

@import "partials/breakpoints";
