#tc-hero {

background: url("../images/Team-captain-display.png") no-repeat;
background-size: auto;
background-position:top;
}

#tc-project-info {

  height: 100%;
  color: white;
  background-color: #FED586;
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
  background: linear-gradient(to right,#ffa751, #ffe259);
opacity: .96;

}
#tc-part-2{
    video {
      box-shadow: 1px 2px 6px rgba(033, 033, 033, .5);

    }
}

#tc-part-3 {
    padding: 90px 10%;
    background: linear-gradient(to top, #191654, #586BA4);
    border-bottom: 1px solid rgba(0,0,0, .12);

  .photos {
    z-index: 2;
  }
  .words {
    text-align: left;
  }
  video {
    box-shadow: 1px 2px 6px rgba(033, 033, 033, .2);
  }
}
