


@media (max-width: 650px) {
  nav {
    ul {
      li {
        padding: 5px 15px;
      }
    }
  }
  .second-nav {
    padding: 15px 15px 2px 15px;
    img {
      float: none;
    }
    ul {
      float: none;
    }
  }
  }

@media (max-width: 700px) {
  .background {
    margin-top: 50px;
  }
  .map {
    display: none;
  }
.portfolio .mobile-display img {
  top: 15px
}
}
@media (max-width: 401px){
  .portfolio .mobile-display img {
    top: 12px
  }
}
