@media (max-width: 500px) {
  nav {
    ul {
      li {
        padding: 0px 10px;
      }
    }
  }
  }

@media (max-width: 700px) {
  .background {
    margin-top: 50px;
  }
  .map {
    display: none;
  }

}
