#bb-hero {

background: url("../images/Bucket-budget-display.png") no-repeat;
background-size: contain;
background-position:top;
}

#bb-project-info{
     background-color: rgba(87, 187, 137, .85);
}
