$darkgreen: #285b67;
$lightgreen: #45676f;
$stargold: #F8D64E;
$footer: #c7c5c5;
$footertext: #9b9a9a;
$selectedcolor: #fbf8f8;
$listborder: #bfd2cf;
$headercolor: white;


.container {
  padding: 25px 100px;
  margin: 0px;
  width: 100%;

}
